html {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.logo {
  max-width: 500px;
  width: 70vw;
  transition: 0.15s ease;
}

.logo:hover {
  transform: scale(1.02);
}

.preload * {
  transition: none !important;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0px;
}

p,
h2 {
  margin: 20px 50px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  font-weight: bold;
}

.main-nav > a {
  width: 20vw;
  max-width: 150px;
  text-align: center;
  font-size: 20pt;
  color: black;
  transition: 0.1s ease;
}

@media (max-width: 500px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav > a {
    width: 100%;
    margin: 10px 0;
  }
}

a:link,
a:visited {
  color: #909090;
}

a:hover {
  color: red;
  transform: translateY(1px);
}

.main-nav > a {
  text-decoration: none;
}

main {
  padding: 60px;
}

input {
  border: 2px solid #a0a0a0;
  border-radius: 20px;
  padding: 12px;
  margin: 10px;
  font-size: 12pt;
  transition: 0.15s ease;
  font-family: "JetBrains Mono", monospace;
}

input:hover {
  transform: translateY(2px);
}

input:active {
  transform: translateY(2px);
}

.login-buttons {
  display: flex;
  justify-content: center;
}

button {
  border: 2px solid #a0a0a0;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
  font-size: 12pt;
  background-color: white;
  transition: 0.15s ease;
  font-family: "JetBrains Mono", monospace;
  color: black;
}

button:hover {
  background-color: #a0a0a0;
  transform: translateY(1px);
}

footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}
