* {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.logo {
  max-width: 200px;
  width: 70vw;
  transition: 0.3s ease;
}

.preload * {
  transition: none !important;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  font-weight: bold;
}

.main-nav > a {
  width: 20vw;
  max-width: 100px;
  text-align: center;
  font-size: 12pt;
  color: black;
  transition: 0.1s ease;
}

@media (max-width: 500px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav > a {
    width: 100%;
    margin: 10px 0;
  }
}

a:link,
a:visited {
  color: #909090;
}

a:hover {
  color: red;
  transform: translateY(2px);
}

.main-nav > a {
  text-decoration: none;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

.top-bar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  z-index: 10;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.content {
  width: 100%;
}

.capital-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.capital > p {
  margin: 0px;
  text-align: center;
  font-size: 15pt;
}

#game-capital {
  font-size: 40pt;
  font-weight: bold;
}

.supplies-item {
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
}

.supplies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 14px;
  border-radius: 15px;
}

button:hover {
  background-color: #a0a0a0;
  transform: translateY(1px);
}

.store {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
}

.store-item {
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  width: 250px;
  background-color: white;
}

.inventory-item {
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
}

.lower-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

footer {
  background-color: white;
  padding: 50px;
}
